footer {
    background-color: #E2D1B3;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 10;
    font-family: 'Cairo', sans-serif; 
  }
  
.footer-content p {
  margin: 5px 0;
  color: #556B2F;
}

.footer-content a {
  color: #556B2F;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}
